<div class="headContent">
    <h1>Registrar Usuario: <%= resource_name.to_s.humanize %></h1>
</div>

<div class = "box">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmación para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(dejar en blanco si no quieres cambiarla)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿No está conforme? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Está seguro?" }, :method => :delete %></p>

<%= link_to "Volver", :back %>
</div>
