<div class="headContent">
    <h1>Registrar Usuario</h1>
</div>

<div class = "box">

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div><br>
    
	<%= f.hidden_field :role, :value => 'reader' %>
	  <div><%= f.submit "Registrar" %></div>
	<% end %><br>
    
	<%= render "devise/shared/links" %>

</div>





