*****NUEVA CONSULTA*****

---Información Remitente:---

Sr.(a): <%= @consultation.name + " " + @consultation.surname%>

E-mail: <%=@consultation.email%>

Asunto: <%=@consultation.subject%>

Comentario: <%=@consultation.comment%>

---Información Remitente:---

