<%= form_for(@consultation) do |f| %>
  <% if @consultation.errors.any? %>
<div id="error_explanation">
      <% if (@consultation.errors.count == 1) %>
      <h2>No se ha podido enviar la consulta, se ha encontrado <%= pluralize(@consultation.errors.count, "") %> error: </h2>
      <%else%>
      <h2>No se ha podido enviar la consulta, se han encontrado <%= pluralize(@consultation.errors.count, "") %> errores:</h2>
      <% end %>
      <ul>
      <% @consultation.errors.full_messages.each do |msg| %>
        <li><%= "> " + msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Asunto *" %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label "Nombre *" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Apellido *" %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label "E-mail *" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Comentario *" %><br />
    <%= f.text_area :comment, :cols=>"100", :rows=>"5" %>
  </div>
  <div class="actions">
    <div><%= f.submit "Enviar Consulta" %></div>
  </div>
<% end %>
