<h1>Listing consultations</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consultations.each do |consultation| %>
  <tr>
    <td><%= consultation.subject %></td>
    <td><%= consultation.name %></td>
    <td><%= consultation.surname %></td>
    <td><%= consultation.email %></td>
    <td><%= consultation.comment %></td>
    <td><%= link_to 'Show', consultation %></td>
    <td><%= link_to 'Edit', edit_consultation_path(consultation) %></td>
    <td><%= link_to 'Destroy', consultation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consultation', new_consultation_path %>
