<div class="headContent">
    <h1>Detalle Consulta</h1>
</div>

<div class = "box">

<p id="notice"><%= notice %></p>

<p>
  <b>Asunto:</b>
  <%= @consultation.subject %>
</p>

<p>
  <b>Nombre:</b>
  <%= @consultation.name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @consultation.surname %>
</p>

<p>
  <b>E-Mail:</b>
  <%= @consultation.email %>
</p>

<p>
  <b>Comentario:</b>
  <%= @consultation.comment %>
</p>


<a href="/inicio/index"> << Volver</a>   |


</div>
