<script type="text/javascript">
    $(document).ready(function(){
    var inicio = "<div>";
    var fin = "</div>"
    var valor = inicio; 
    var inicio_title = "<u><h2><b>";
    var fin_title = "</b></h2></u><br><br>"	;
    var contador = 0;
    $.get("/news.json", function(data) {
        for(i=data.length-1;i>=0 && contador<5;i--){
        	valor += inicio_title + data[i].title + fin_title + inicio + data[i].body + fin + "<hr>";
        	contador++;

        }
        document.getElementById("show_errors_receipt").innerHTML = valor;
    });
    });


</script>

<div class="headContent">
    <h1>Últimas Noticias</h1>
</div>

<div class = "box2">
      <h2 style="text-align: center;">Gracias por Visitar Bibliotech!</h2><br><hr>
      <div id = "show_errors_receipt">

</div>	

