<h2>¿Olvidó su contraseña?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Enviar instrucciones para reestablecer contraseña" %></div>
<% end %>

<%= render "devise/shared/links" %>
