<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @consult.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @consult.comment %>
</p>


<%= link_to 'Edit', edit_consult_path(@consult) %> |
<%= link_to 'Back', consults_path %>
