<p>Bienvenido <%= @email %>!</p>

<p>Puedes confirmar tu cuenta de correo electrónico mediante el link inferior:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
