<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambio de contraseña. Puedes hacerlo mediante el link inferior.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no has solicitado esto, por favor ignora este e-mail.</p>
<p>Tu contraseña no cambiará hasta que accedas al link superior y crees una nueva.</p>
