<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueda por un número excesivo de intentos de ínicio de sesión erróreos.</p>

<p>Haga click en el link inferior para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
