<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bibliotech Curicó</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link  rel="stylesheet" href="/css/templatemo_style.css" type="text/css"></style>
    <link  rel="stylesheet" href="/css/default_buttons.css" type="text/css"></style>
   
</head>
<body>

<div id="templatemo_container">
    <div id="templatemo_menu">
        <ul>
            <li><a href="/admin/login" class="current">Acceso a Intranet</a></li>
            <li><a href="/admin/sign_up" class="current">Registrarse</a></li>

        </ul>
    </div> <!-- termino del menú de arriba -->
    
    <div id="templatemo_header">

    </div> <!-- termino del header -->
    
    <div id="templatemo_content">
        
        <div id="templatemo_content_left">
            <div class="templatemo_content_left_section">
                <h1>Acciones</h1>
                <ul>
                    <li><a href="/consultations/new">Enviar Consulta</a></li>
                    <li><a href="/inicio/index" >Últimas Noticias</a></li>
                </ul>
            </div>
            <div class="templatemo_content_left_section">
                <h1>Sitios de interés Regional</h1>
                <ul>
                    <li><a href="http://www.curico.cl">Municipalidad de Curicó</a></li>
                    <li><a href="http://www.culturalcurico.cl">Corporación Municipal Curicó</a></li>
                    <li><a href="http://www.daemcurico.cl">DAEM Curicó</a></li>
                    <li><a href="http://www.curicochile.cl">Portal Curicó Chile</a></li>
                    <li><a href="http://www.hospitalcurico.cl">Hospital Regional Curicó</a> </li>

                </ul>
            </div>

        </div> <!-- termino del contenido izquierdo -->
        
        <div id="templatemo_content_right">
                    
          <%= yield %>       
            
          <div class="cleaner_with_height">&nbsp;</div>
            

        </div> <!-- termino del contenido derecho -->        
    
        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- termino de los contenidos -->
    
    <div id="templatemo_footer">
    
        Copyright © 2013 <a href="http://www.utalca.cl"><strong>EQUIPO 3 / Tecnologías Web Utal</strong></a> 
    <!-- Termino footer -->

</div> <!-- termino de container -->
</body>
</html>